{{ define "main" }}
  <article>
    {{ $currentLang := .Page.Lang }}
    {{ with .Title -}}
    <h1>
      {{ $titleParts := split . "|" }}
      {{ $length := len $titleParts }}
      {{ $title := index $titleParts 0}}

      {{ if gt $length 1 }}
        {{ if eq $currentLang "en" }}
          {{ $title = index $titleParts 0 }}
        {{ else if eq $currentLang "ko" }}
          {{ $title = index $titleParts 1 }}
        {{ end }}
      {{ end }}
      {{- $title -}}
    </h1>
    {{- end }}
    {{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
