.post-title {
  color: var(--lightest-color);
}

.post-meta > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
  font-size: 0.8em;

  > .icon {
    margin-right: 0.4em;
  }
}

.post-content {
  & > pre,
  .highlight {
    margin: 1em 0;
  }

  & > pre,
  .highlight > pre,
  .highlight > div {
    border-left: 0.4em solid rgba(var(--primary-color), .8);
    padding: 1em 1em;
  }

  blockquote {
    border-left: 2px solid var(--primary-color);
    padding: 0px 10px; /* Space inside the blockquote */
    margin: 10px 0; /* Space outside the blockquote */
    background-color: var(--dark-color); /* Dark background color */
    font-family: 'Arial', sans-serif; /* Adjust if needed */
  }

  img {
    max-width: 100%;
  }

  hr {
    border: none;
    height: 1px; /* Makes line thinner */
    background-color: var(--primary-color); /* Changes color to blue */
    width:100%
  }
}
