:root {
  --darkest-color: {{ .Site.Params.style.darkestColor | default "#242930" }};
  --dark-color: {{ .Site.Params.style.darkColor | default "#353b43" }};
  --light-color: {{ .Site.Params.style.lightColor | default "#afbac4" }};
  --lightest-color: {{ .Site.Params.style.lightestColor | default "#ffffff" }};
  --primary-color: {{ .Site.Params.style.primaryColor | default "#57cc8a" }};
}

$darkest-color: {{ .Site.Params.style.darkestColor | default "#57cc8a" }};
$dark-color: {{ .Site.Params.style.darkColor | default "#57cc8a" }};
$light-color: {{ .Site.Params.style.lightColor | default "#57cc8a" }};
$lightest-color: {{ .Site.Params.style.lightestColor | default "#57cc8a" }};
$primary-color: {{ .Site.Params.style.primaryColor | default "#57cc8a" }};

/* Light Mode Overrides */
:root.light-mode {
  --darkest-color: {{ .Site.Params.style.lightMode.darkestColor | default "#ffffff" }};
  --dark-color: {{ .Site.Params.style.lightMode.darkColor | default "#afbac4" }};
  --light-color: {{ .Site.Params.style.lightMode.lightColor | default "#353b43" }};
  --lightest-color: {{ .Site.Params.style.lightMode.lightestColor | default "#242930" }};
}


$post-font: "Inter";

.sidebar-footer {
  display: flex;
  position: relative;
  width: 100%; /* Ensure it spans the sidebar width */
  justify-content: space-between;
  align-items: center;

  a{
    font-size: 2em;
    border-radius: 5px;
    padding: 0rem 0.5rem;
    background: rgba($primary-color, 0.2);
    transition: 0.35s;

    &:hover {
      //transition: 0.5s;
      //border-radius: 5px;
      //padding: 0rem 1rem;
      background: rgba($primary-color, 0.4);
      color: var(--primary-color);

    }
  }
}

.language-switcher {
}

.theme-toggle {
}

.sidebar-category {
  width: 100%; /* Ensure it spans the sidebar width */
  text-align: left; /* Center the text, optional */

  div {
    border-color: var(--primary-color);
  }

}

.sidebar-category-item {
  width: 100%; /* Ensure it spans the sidebar width */
  text-align: left; /* Center the text, optional */
  padding: 0 0.3rem;
  margin-top: 0.1em;
  color: var(--lightest-color);
  transition: color 0.35s;

  &:hover {
    transition: color 0.35s;

    background-color: rgba($light-color, 0.2);
    color: var(--primary-color);
    border-radius: 0.3em;
  }

}

.app-header-menu{
  a{
    color: var(--lightest-color);
    transition: color 0.35s;
    text-decoration: none;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.line{
  text-align: left; /* Center the text, optional */
  width: 100%; /* Ensure it spans the sidebar width */
  border-bottom: 1.5px solid var(--light-color);
}

.copy-icon {
  color: var(--dark-color);
  font-size: 18px;
  display: inline-block;
}

.copy-icon:hover {
  color: var(--light-color);
}

.copy-icon:active {
  color: var(--light-color);
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid var(--light-color);
  padding: 8px;
}

th {
  background-color: var(--dark-color);
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

.post-toc {
  font-size: 0.9em;
  /* Change sticky to relative for better scroll behavior */
  position: relative;
  max-height: none; /* Let it grow inside the sidebar */
  overflow-y: auto; /* Enable scrolling */
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

.post-toc ul {
  list-style: none; /* Remove bullet points */
  padding-left: 0;  /* Remove default padding */
}

.post-toc ul ul {
  padding-left: 10px; /* Add indentation for nested lists */
}

.post-toc ul ul ul {
  padding-left: 10px; /* Further indentation for deeper ledvels */
}

.post-toc a {
  font-size: 0.9em;

  text-decoration: none;
  color: var(--light-color);
}

.post-toc a:hover {
  color: var(--primary-color);
}

.post-toc a.active {
  color: var(--primary-color);
  border-left: 1px solid var(--primary-color);
  padding-left: 3px;
}

@import 'base';

@import 'components/app';
@import 'components/error_404';
@import 'components/icon';
@import 'components/pagination';
@import 'components/post';
@import 'components/posts_list';
@import 'components/tag';
@import 'components/tags_list';

// The last 'extra' import can optionally be overridden on a per project
// basis by creating a <HUGO_PROJECT>/assets/css/_extra.scss file.
@import 'extra';

// Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
